* {
	box-sizing: border-box;
}
body,
html {
	font-family: "Poppins", sans-serif;
	margin: 0;
	padding: 0;
}

/*! Slick Basic Required Code  */
.slick-slider * {
	outline: 0 !important;
}
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}
.slick-list {
	position: relative;
	display: block;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
.slick-list:focus {
	outline: 0;
}
.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}
.slick-slider .slick-list,
.slick-slider .slick-track {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.slick-track:after,
.slick-track:before {
	display: table;
	content: "";
}
.slick-track:after {
	clear: both;
}
.slick-loading .slick-track {
	visibility: hidden;
}
.slick-slide {
	display: none;
	float: left;
	min-height: 1px;
	height: auto;
}
[dir="rtl"] .slick-slide {
	float: right;
}
.slick-slide img {
	display: block;
}
.slick-slide.slick-loading img {
	display: none;
}
.slick-slide.dragging img {
	pointer-events: none;
}
.slick-initialized .slick-slide {
	display: block;
}
.slick-arrow {
	outline: none !important;
}

/*! End Slick Basic Required Code  */
.slick-dots {
	position: absolute;
	left: 0;
	bottom: 50px;
	z-index: 10;
	width: 100%;
	padding: 0;
	text-align: center;
	li {
		display: inline-block;
		width: 10px;
		height: 10px;
		border: 1px solid #fff;
		border-radius: 50%;
		margin: 5px;
		&.slick-active {
			background: #fff;
		}
	}
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
	// font-weight: normal;
	margin: 0;
	text-decoration: none;
}

.wrap {
	top: -100px;
	z-index: 5;
	// padding: 0 40px;
}
.text-center {
	text-align: center;
}
.container {
	max-width: 1200px;
	margin: auto;
}
img {
	// width: 100%;
	max-width: 100%;
	height: auto;
}
.w100p {
	width: 100%;
}

.rel {
	position: relative;
}
.z1 {
	z-index: 1;
}

.grad-wrap {
	position: relative;
	z-index: 1;
	padding: 20px;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		left: 0;
		bottom: 0;
		height: 100%;
		z-index: -1;
		background: #271d1e;
	}
	&::after {
		content: attr(data-title);
		overflow: hidden;
		font-size: 350px;
		line-height: 350px;
		color: #1e1915;
		bottom: 0;
		top: 0;
		width: 100%;
		left: 0;
		opacity: 0.7;
		display: block;
		position: absolute;
		z-index: -1;
		text-align: center;
		@media screen and (max-width: 1024px) {
			font-size: 200px;
			line-height: 200px;
		}
		@media screen and (max-width: 768px) {
			font-size: 100px;
			line-height: 300px;
		}
	}
	.key-features {
		padding: 5% 15% 10%;
		margin-bottom: 5%;
		@media screen and (max-width: 1025px) {
			padding: 5% 0 10%;
		}

		.key-title {
			font-size: 16px;
			color: #f3d9ca;
			font-weight: 600;
			padding-bottom: 40px;
			border-bottom: 2px solid #979290;
			@media screen and (max-width: 768px) {
				padding-bottom: 20px;
			}
			img {
				width: 100px;
				margin-left: 10px;
				@media screen and (max-width: 768px) {
					margin-top: 20px;
					margin-left: 0;
				}
			}
		}

		.features {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			div {
				flex: 1 33.33%;
				padding: 5px;
				@media screen and (max-width: 768px) {
					width: 100%;
					flex: 1 0 auto;
				}
			}
			.feature-title {
				color: #fff;
				font-size: 20px;
				font-weight: 600;
				margin: 20px 0;
			}
			p {
				color: #fff;
			}
		}
	}
}

header {
	position: fixed;
	// position: relative;
	top: 0;
	width: 100%;
	padding: 20px 0;
	background: transparent;
	z-index: 11;
	// clear: both;
	// box-shadow: 0 10px 20px -15px #000;
	color: #fff;
	background: transparent;
	transition: 0.3s all ease-in-out;
	// @media only screen and (max-width: 768px) {
	//   position: relative;
	// }
	.box {
		max-width: 1200px;
		margin: auto;
		padding: 0 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		.logo {
			display: inline-block;
			width: 100px;
			text-align: center;
			margin-top: 5px;
			text-decoration: none;
			color: #fff;
			font-size: 24px;
			transition: 0.3s all ease-in-out;
			// @media only screen and (max-width: 568px){
			//     width: calc(100% - 75px);
			// }
			&:hover {
				color: #cc9e63;
			}
		}
		nav {
			padding: 0 8px;
			display: flex;
			justify-content: center;
			gap: 15px;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				// clear: both;
				// overflow: hidden;
				line-height: 39px;
				@media only screen and (max-width: 768px) {
					position: absolute;
					right: 0;
					background: rgba(0,0,0,0.7);
					padding: 10px;
					margin-top: 39px;
					visibility: hidden;
					opacity: 0;
					transform: translateY(100px);
					transition: 0.3s all ease-in-out;

					&.open {
						visibility: visible;
						opacity: 1;
						transform: translateY(0);
					}
				}

				li {
					float: left;
					margin-right: 5px;
					padding: 10px;
					@media only screen and (max-width: 768px) {
						float: none;
					}
					a {
						text-decoration: none;
						color: #fff;
						text-transform: capitalize;
						position: relative;
						font-size: 16px;
						font-weight: 500;

						&:hover {
							color: green;
						}
						&::before {
							content: "";
							position: absolute;
							bottom: -5px;
							left: 0;
							right: 0;
							margin: 0 auto;
							transition: 0.3s all ease-in-out;
							width: 0;
							height: 2px;
							background: orange;
						}
						&:hover::before {
							width: 100%;
						}
						@media only screen and (max-width: 768px) {
							font-size: 14px;
							color: #fff;
							text-transform: capitalize;
						}
					}
				}
			}
			.hamburger {
				display: none;
				@media only screen and (max-width: 768px) {
					display: block;
					width: 20px;
					height: 24px;
					background: url(ham2.png);
					background-position: center;
					background-size: cover;
					float: right;
					margin-top: 5px;
				}
			}
		}
	}
}

.banner-box {
	position: relative;
	z-index: 1;
	font-weight: bold;
	color: #fff;
	&::before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: url(bg.jpg);
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		z-index: -1;
	}
	&::after {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		background: linear-gradient(to top, #271d1e, 25%, transparent 30%);
		z-index: -1;
	}
	.banner-content {
		height: 100%;
		padding: 10% 5% 32%;
		position: relative;
		max-width: 1200px;
		margin: auto;
		// @media only screen and (max-width: 768px) {
		// 	padding: 0;
		// }

		.banner-wrap {
			@media only screen and (max-width: 768px) {
				padding-bottom: 100px;
				padding-top: 100px;
			}
			h1 {
				font-size: 100px;
				line-height: 100px;
				@media only screen and (max-width: 1025px) {
					font-size: 50px;
					line-height: 50px;
				}
				@media only screen and (max-width: 576px) {
					font-size: 40px;
					line-height: 40px;
				}
			}
			p {
				font-size: 30px;
				line-height: 30px;
				@media only screen and (max-width: 1025px) {
					font-size: 25px;
					line-height: 25px;
				}
			}
			a {
				font-size: 14px;
				font-weight: 500;
				color: #fff;
				background-color: rgba(255, 255, 255, 0.2);
				padding: 10px 25px;
				border: 2px solid #fff;
				border-radius: 25px;
				text-decoration: none;
				transition: 0.3s all ease-in-out;
				display: inline-block;
				margin-top: 20px;
				&:hover {
					background: #fff;
					color: #000;
				}
				&:hover img {
					transform: translateX(5px);
				}
				img {
					display: inline-block;
					transition: 0.3s all ease-in-out;
				}
			}
		}
	}
}

.position-static {
	position: relative;
	@media screen and (max-width: 768px) {
		position: static;
	}
}
.section2 {
	margin-bottom: 5%;
	overflow: hidden;
	.arrows {
		display: inline-block;
		background: #2c2c2c;
		color: #fff;
		cursor: pointer;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		height: 50px;
		width: 50px;
		border-radius: 50%;
		background-size: 20px;
		background-position: center;
		background-repeat: no-repeat;
		@media screen and (max-width: 768px) {
			display: none !important;
		}
		&.next-s-slider {
			background-image: url(./right-arrow-white.png);
			right: -25px;
			@media screen and (max-width: 1201px) {
				right: 15px;
			}
		}
		&.prev-s-slider {
			background-image: url(./left-arrow-white.png);
			left: -25px;
			@media screen and (max-width: 1201px) {
				left: 15px;
			}
		}
	}
	.s-slider2 {
		.slider-wrapper {
			background: url(card1.png);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			position: relative;
			color: #fff;
			z-index: 1;
			padding: 100% 20px 15px;
			overflow: hidden;
			clear: both;

			&::before {
				content: "";
				position: absolute;
				left: 0;
				right: 0;
				// top: 0;
				bottom: 0;
				height: 50%;
				z-index: -1;
				background: linear-gradient(to top, #000, 45%, transparent 100%);
			}
			&:hover img {
				transform: translateX(10px);
			}
			h3 {
				font-size: 33px;
				line-height: 33px;
				max-height: 66px;
				overflow: hidden;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				@media screen and (max-width: 1025px) {
					font-size: 20px;
					line-height: 20px;
					max-height: 40px;
				}
			}
			a {
				font-size: 10px;
				color: #fff;
				float: right;
				margin-top: 15px;
				img {
					width: 20px;
					vertical-align: middle;
					display: inline-block;
					transition: 0.3s all ease-in-out;
				}
			}
		}
	}
}

.section3 {
	background-image: url(sec3.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	padding: 20% 15px;
	color: #fff;
	h5 {
		font-size: 50px;
		margin-bottom: 40px;
	}
	p {
		max-width: 700px;
		margin-bottom: 25px;
	}
}

.everyone-btn {
	@media screen and (max-width: 426px) {
		text-align: center;
	}
	a {
		border: 1px solid #fff;
		color: #fff;
		padding: 15px 45px;
		border-radius: 25px;
		margin: 10px;
		display: inline-block;
		font-weight: 500;
		transition: 0.3s all ease-in-out;
		@media screen and (max-width: 426px) {
			display: block;
			padding: 15px 0;
		}
		&:hover {
			background: #fff;
			color: #000;
		}
	}
}

.section4 {
	background: url(sec4.jpg) no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	padding: 20% 0;
	@media screen and (max-width: 901px) {
		padding: 10% 0;
	}
	// &::before{
	// 	content: "";
	// 	position: absolute;
	// 	width: 100%;
	// 	left: 0;
	// 	right: 0;
	// 	bottom: 0;
	// 	height: 100px;
	//  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(0,2,19,1));
	// }
	.card-section {
		color: #fff;
		display: flex;
		flex-wrap: wrap;
		padding: 15px;
		gap: 15px;
		.left {
			.card-content {
				h4 {
					font-size: 51px;
					margin-bottom: 40px;
				}
				p {
					margin-bottom: 40px;
				}
				.feature {
					.col {
						width: 49%;
						display: inline-block;
						@media screen and (max-width: 425px) {
							display: block;
							width: 100%;
						}
						h3 {
							font-size: 22px;
							margin-bottom: 20px;
						}
					}
				}
			}
			.card-btn {
				margin-top: 60px;
				a {
					display: inline-block;
					padding: 20px 50px;
					border-radius: 60px;
					border: 1px solid #fff;
					margin-right: 20px;
				}
			}
		}
		.right,
		.left {
			flex: 1;

			@media screen and (max-width: 901px) {
				flex: 1 100%;
			}
		}
		.card-wrap {
			margin: 0 auto;
			background-color: #fff;
			padding: 15px;
			border-radius: 10px;
			max-width: 500px;
			.card-offer {
				display: flex;
				justify-content: space-evenly;
				flex-wrap: wrap;
				margin: 35px 0;
				color: #000;
				.offer {
					img {
						width: 30px;
					}
				}
			}
		}
	}
}

.article-btn {
	margin: 60px 0 100px;
	display: inline-block;
	padding: 15px 50px;
	background: #000;
	color: #fff;
	border-radius: 25px;
	transition: 0.3s all ease-in-out;
	&:hover {
		background: orange;
	}
}
.share {
	color: #939393 !important;
	@media screen and (max-width: 1025px) {
		font-size: 15px !important;
	}
}
.articles {
	position: relative;
	padding: 5%;
	&::before {
		content: "";
		position: absolute;
		width: 100%;
		left: 0;
		top: -40%;
		height: 90%;
		background: linear-gradient(to top, #000213 60%, transparent 80%);
	}
	.article-title {
		color: #fff;
		h3 {
			font-size: 60px;
			margin-bottom: 10px;
		}
		p {
			max-width: 50%;
			font-size: 20px;
			margin-bottom: 15px;
			@media screen and (max-width: 769px) {
				width: 100%;
			}
		}
	}

	.article-wrap {
		color: #000;
		overflow: hidden;
		margin-top: 20px;
		border-radius: 10px;
		box-shadow: 0px 10px 20px 10px rgba(0, 0, 0, 0.2);
		.card {
			float: left;
			width: 33.33%;
			position: relative;
			background: #fff;
			// border-right: 1px solid #e5e6ea;
			@media screen and (max-width: 768px) {
				width: 100%;
				border-bottom: 1px solid #e5e6ea;
			}
			.card-wrap {
				padding: 20px;
				height: 350px;
				@media screen and (max-width: 768px) {
					height: 300px;
				}
				span {
					color: #1e1915;
					font-size: 12px;
				}
				h3 {
					margin: 15px 0;
					font-size: 45px;
					line-height: 45px;
					overflow: hidden;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					@media screen and (max-width: 1025px) {
						font-size: 25px;
						line-height: 25px;
					}
				}
				p {
					margin: 10px 0;
					font-size: 20px;
					display: -webkit-box;
					-webkit-line-clamp: 3;
					-webkit-box-orient: vertical;
					overflow: hidden;
				}
				.card-btn {
					margin-top: 30px;
					position: absolute;
					bottom: 20px;
					a {
						font-size: 15px;
						color: #000;
						@media only screen and (min-width: 768px) and (max-width: 1024px) {
							&:first-child {
								display: block;
							}
						}
					}
					img {
						vertical-align: middle;
						margin: 0 5px;
						max-width: 100%;
						height: auto;
						@media only screen and (min-width: 768px) and (max-width: 1024px) {
							margin-left: 0;
						}
					}
				}
			}
		}
	}
}

footer {
	.footer-wrap {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding: 40px;
		border-bottom: 1px solid #cecece;
		margin-bottom: 20px;
		.footer-logo {
			a {
				display: inline-block;
				width: 100px;
			}
			p {
				max-width: 250px;
				margin-top: 5px;
			}
		}
		.footer-links {
			ul {
				list-style: none;
				padding: 0;
				li {
					a {
						color: #939393;
						transition: 0.3s all ease-in-out;
						&:hover {
							color: #000;
						}
					}
				}
			}
		}
	}
}
